@{
    ViewBag.Title = "";
}

@section featured {
    <section></section>

    <div class="img-library">
        <img class="library" src="Content/img/libre.png" alt="Alternate Text" />

    </div>
}
